version: 1  # YAML 配置文件的版本，固定写法

# 定义日志格式
formatters:
  detailed:  # 详细格式的日志信息
    format: '%(asctime)s %(name)s %(levelname)s: %(message)s'
    # %(asctime)s - 日志时间
    # %(name)s - 记录日志的 logger 名称
    # %(levelname)s - 日志级别 (DEBUG, INFO, WARNING, ERROR, CRITICAL)
    # %(message)s - 具体的日志内容

# 定义不同的日志处理器（handlers）
handlers:
  console:
    class: logging.StreamHandler  # 处理方式：输出到控制台
    formatter: detailed           # 使用 detailed 格式
    level: WARNING                # 只在控制台显示 WARNING 及以上的日志

  api_file:
    class: logging.FileHandler    # 处理方式：写入文件
    filename: ../logs/api.log     # 日志文件路径（相对路径）
    formatter: detailed           # 使用 detailed 格式
    level: DEBUG                  # 记录所有级别的日志（包括 DEBUG）

  com_file:
    class: logging.FileHandler
    filename: ../logs/com.log
    formatter: detailed
    level: DEBUG

  device_control_file:
    class: logging.FileHandler
    filename: ../logs/device_control.log
    formatter: detailed
    level: DEBUG

  service_control_file:
    class: logging.FileHandler
    filename: ../logs/service_control.log
    formatter: detailed
    level: DEBUG

  yaml_control_file:
    class: logging.FileHandler
    filename: ../logs/yaml_control.log
    formatter: detailed
    level: DEBUG

# 定义不同的 logger（日志记录器），用于区分不同模块的日志
loggers:
  api_log:
    handlers: [console, api_file]  # API 相关日志，同时写入文件和控制台
    level: DEBUG                   # 记录所有级别的日志
    propagate: no                  # 不向上级 logger 传递

  com_log:
    handlers: [com_file, console]  # 通信相关日志，写入文件，同时在控制台显示 WARNING+
    level: DEBUG
    propagate: no

  device_control_log:
    handlers: [device_control_file]  # 设备控制日志，仅写入文件
    level: DEBUG
    propagate: no

  service_control_log:
    handlers: [service_control_file, console]  # 服务控制日志，写入文件，并在控制台显示 WARNING+
    level: DEBUG
    propagate: no

  yaml_control_log:
    handlers: [ yaml_control_file, console ]  # 服务控制日志，写入文件，并在控制台显示 WARNING+
    level: DEBUG
    propagate: no

# 默认（root）日志记录器
root:
    level: DEBUG                   # 记录所有级别日志
    handlers: [console, api_file]   # 默认同时输出到控制台和 api.log 文件
